*
{
  padding: 0px;
  margin: 0px;
}

body
{
  height: 100%;
  background: linear-gradient(to left, #525eab, #da5656, #fffd5c);
}

p
{
  margin-left: 0.5%;
  margin-top: 13.8%;
  font-style: italic;
  font-size: 20px;
}

.main
{
  margin-left: 40%;
  margin-top: 10%;
}

/*Editamos botones*/
.button
{
  width: 50px;
  height: 50px;
  font-size: 25px;
  margin: 2px;
  cursor: pointer;
  background: #7e7e7e;
  border: none;
  color: #e7e7e7;
}

/*Editamos la barra deonse se escribe*/
.textview
{
  width: 210px;
  font-size: 35px;
  padding: 5px;
  margin-left: 3px;
  margin-bottom: 5px;
  border: none;
  color: #4a4a4a;
}
